body {
    background-color: black;
}

div.poster {
    background-color: whitesmoke;
    width: 75%;
}

div.small {
    font-family: arial;
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid black;
}

div.text {
    font-family: arial;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    border-top: 1px solid black;
    font-size: 80px;
}

div.text.one {
    text-align: left;
    color: yellow;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
div.text.two {
    text-align: center;
    color: blue;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
div.text.three {
    text-align: right;
    color: red;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 35%, rgba(2,0,36,1) 100%);
}

