body {
    background-color: white;
}

div.poster {
    background-color: rgb(240, 240, 240);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

div.container {
    display: flex;
    flex-wrap: wrap;
}

div.col {
    overflow: hidden;
    font-family: helvetica;
}

/* fourths */
div.w1-4 {
    width: 25%;
}
div.w3-4 {
    width: 75%;
}

 /* thirds */
div.w1-3 {
    width: 33.33%;
}
div.w2-3 {
    width: 66.66%;
}

/* halfs */
div.w1-2 {
    width: 50%;
}

/* single */
div.w1-1{
    width: 100%;
}

div.small {
    text-align: center;
    font-size: 15px;
    color: grey;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 2px solid white;
}

div.text {
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    transition: 0.5s;
    margin-top: 25px;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* rule 1 */
div.text.one {
    background-color:rgb(0, 102, 255);
    color: white;
}
div.text.two {
    background-color:rgb(15, 179, 36);
    color: white;
}
div.text.three {
    background-color: rgb(180, 180, 180);
    color: black;
}

/* rule 2 */
div.text.a {
    text-decoration: underline;
}
div.text.b {
    text-decoration: none;
}

/* rule 3 */
div.text.x {
    font-size: 40px;
}
div.text.y {
    font-size: 50px;

}
div.text.z {
    font-size: 60px;
}

