body {
    font-family: helvetica;
    font-size: 24px;
    color: black;
}

@font-face {
    font-family: 'basic';
    src: url('BBBouquet-Regular.otf');
}

a {
    color: black;
}

a:hover {
    color: rgb(249, 101, 16);
}

img {
    width: 100%;
}

div.page {
    display: flex;
    flex-wrap: wrap;
}

div.sidebar {
    width: 20%;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
}

div.sidecontain {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.6vw;
    margin-left: 1.6vw;
    margin-right: 1.6vw;
    margin-bottom: 36px;
}

div.logo {
    width: 100%;
    font-size: 36px;
    font-family: basic;
}

div.logo a {
    text-decoration: none;
}

div.navi {
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 8px;
}

div.navi a {
    border: 2px solid rgb(150, 150, 150);
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 50px;
    background-color: white;
    color: black;
    text-decoration: none;
}

div.navi.blue a:hover {
    border: 2px solid rgb(49, 22, 224);
    background-color: rgb(49, 22, 224);
    color: white;
}
div.navi.green a:hover {
    border: 2px solid rgb(8, 185, 93);
    background-color: rgb(8, 185, 93);
    color: white;
}
div.navi.orange a:hover {
    border: 2px solid rgb(249, 101, 16);
    background-color: rgb(249, 101, 16);
    color: white;
}
div.navi.black a:hover {
    border: 2px solid black;
    background-color: black;
    color: white;
}

div.main {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

div.masthead {
    font-size: 130px;
    line-height: 100px;
    margin: 1.6vw;
    font-family: basic;
    letter-spacing: -4px;
    width: 100%;
}

div.subhead {
    width: 100%;
    font-size: 36px;
    margin: 1.6vw;
}

div.category {
    width: 100%;
    margin-left: 1.6vw;
    margin-right: 1.6vw;
    margin-top: 48px;
    padding-bottom: 6px;
    border-bottom: 2px solid black;
}

div.container {
    display: flex;
    flex-wrap: wrap; 
    margin: 1vw;
}

div.item-index {
    width: 33.33%;
    position: relative;
    padding: 0.6vw;
}

div.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 4vw;
    font-family: basic;
}

div.item-index a {
    color: transparent;
    text-decoration: none;
}

div.item-index a:hover {
    color:white;
}

div.about {
    width: 66.66%;
    font-size: 36px;
    line-height: 40px;
    color: black;
    padding: 0.6vw;
}

div.icon {
    width: 33.33%;
    padding: 0.6vw;
}

div.item-body {
    width: 50%;
    padding-left: 0.6vw;
    padding-right: 0.6vw;
}

div.item-body img {
    margin-bottom: 48px;
}

div.subtitle {
    font-size: 36px;
    margin-bottom: 24px;
}

div.description {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
}

div.price {
    font-size: 36px;
    margin-bottom: 24px;
    font-family: basic;
}

div.button {
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 36px;
    margin-bottom: 12px;
    background-color: rgb(150, 150, 150);
    color: white;
    text-align: center;
}

div.notice {
    font-size: 12px;
    line-height: 16px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 24px;
    color: gray;
}

div.item-recommend {
    width: 20%;
    padding: 0.6vw;
    margin-bottom: 48px;
}

div.footer {
    /* border-top: 2px solid gray; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 1.6vw;
    padding-right: 1.6vw;
    padding-top: 12px;
    padding-bottom: 12px;
}

div.footcol {
    /* border: 3px solid yellow; */
    width: 25%;
    text-align: center;
    font-size: 12px;
    color: gray;
}