body {
    background-color: black;
}

div.poster {
    background-color: whitesmoke;
    width: 75%;
}

div.small {
    font-family: arial;
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid black;
}

div.text {
    font-family: arial;
    text-align: center;
    text-transform: uppercase;
    transition: 0.8s;
    border-top: 1px solid black;
}

div.text.one {
    font-size: 40px;
    background: rgb(214,86,165);
background: linear-gradient(0deg, rgba(214,86,165,0.5) 0%, rgba(232,203,221,0.5) 80%);
}
div.text.two {
    font-size: 70px;
    text-shadow: 0px 0px 12px blueviolet;
    background: rgb(237,199,223);
background: linear-gradient(0deg, rgba(237,199,223,0.5) 0%, rgba(220,188,238,0.5) 100%);

}     
div.text.three {
    font-size: 100px;
    text-shadow: 0px 0px 12px hotpink;
}

